modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 18616
externalPort = 3000

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyAXup7C1DVX8jem5mvCdd2XkVcjAm6D320"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "expence-app-5c590.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "expence-app-5c590"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "expence-app-5c590.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "1094829916065"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:1094829916065:web:7a62bd8079d116fc9b95e0"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-L5NYTPY0FL"
EXPO_PUBLIC_AI_API_KEY = "AIzaSyBHywE0yGnYxTANcTSv-Ve0EsRHVkMQpMs"
